<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/CSS/style.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Timi. It uses data from mapbox.com and weatherstack.com!</p>
            <img class="selfie" src="/img/Image 2023-02-19 at 22.32.56.jpeg" alt="My Image">
        </div>

        {{>footer}}
    </body>
</html>
