<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/CSS/style.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="selfie" src="/img/IMG_20180130_170948_0.jpg" alt="My Image">
        </div>

        {{>footer}}
    </body>
</html>