<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./CSS/style.css">  <!--relative path-->
        {{!-- <link rel="stylesheet" href="/CSS/style.css"> --}} <!--absolute path-->
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <p>Use this page to get your weather info</p>

            <form action="">
                <input type="text" placeholder="Location">
                <button>Search</button>
            </form>

            <p id="msg-1"></p>
            <p id="msg-2"></p>
        </div>

        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>